<template>
  <div id="app">
    <gallery/>
    <modal-window/>
    <type-product/>
    <sort-product v-bind:quantityProducts="3"/> 
    <paginated v-bind:quantityProducts="3"/> 
    <product-listing v-bind:products='products.hits'/>
  </div>
</template>

<script>

import { store } from './services/store'
import { mapState, mapActions } from 'vuex'
import { bus } from './main.js'

import Gallery from './components/gallery.vue'
import ModalWindow from './components/modalWindow.vue'
import TypeProduct from './components/typeProduct.vue'
import sortProduct from "./components/sortProduct.vue"
import Paginated from './components/paginated.vue'
import productListing from './components/productListing.vue'

export default {
   name: 'app',
  store,
  components: {
    ModalWindow,
    TypeProduct,
    Gallery,
    sortProduct,
    Paginated,
    productListing
  },
  methods: {
    ...mapActions(['getProducts']),
  },
  computed: {
    ...mapState([ "products", "maxMin"]),
  },  
  created() {
    bus.$on('sortListProduct', function (a) {
      this.getProducts(a)
    }.bind(this)) 
  },
  
  mounted() {
    this.getProducts({from: 0, size: 3, sort: this.maxMin});
  },
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  .sort {
      display: flex;
      justify-content: center;
  }
  
}
</style>
