* {
  font-family: sans-serif; }

body {
  margin: 0;
  padding: 0; }

.modalWindow {
  width: 100vw;
  height: 100vh;
  background: #000000cc;
  position: fixed;
  display: none;
  z-index: 5;
  overflow: scroll;
  justify-content: center;
  top: 0; }
  .modalWindow .payment {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 10; }
    .modalWindow .payment header {
      max-width: 1000px;
      width: 100%;
      background: #f74012;
      border-left: 1px solid #000; }
      .modalWindow .payment header .title {
        display: inline-block;
        margin-left: 20px;
        font-size: 24px;
        color: #fff;
        text-transform: lowercase; }
      .modalWindow .payment header .buttonClose {
        float: right;
        transform: rotate(45deg);
        border: none;
        background: none;
        font-size: 50px;
        color: #fff;
        outline: none;
        margin-right: 20px;
        transition: 0.3s; }
        .modalWindow .payment header .buttonClose:hover {
          font-size: 60px;
          color: #000;
          margin-right: 16px;
          margin-top: -5px; }
  .modalWindow .product {
    border-left: 1px solid #000;
    max-width: 1000px;
    width: 100%;
    padding-top: 20px;
    background: #f0e2e2; }
    .modalWindow .product h1 {
      margin: 0;
      font-weight: 400;
      margin-left: 20px;
      margin-bottom: 20px; }
  .modalWindow .content {
    display: flex;
    flex-wrap: wrap; }
    .modalWindow .content .cards {
      width: 47%;
      margin-left: 20px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      background: #f0e2e2;
      transition: 0.5s; }
      .modalWindow .content .cards .image {
        width: 48%;
        height: 120px;
        margin-right: 4%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff; }
        .modalWindow .content .cards .image img {
          height: 100%; }
      .modalWindow .content .cards .imageNowoplat img {
        height: 67%; }
      .modalWindow .content .cards .description p:last-child {
        color: #f74012;
        margin-top: -10px; }
      .modalWindow .content .cards:hover {
        background-color: #fff;
        box-shadow: -20px 0px #fff; }

.type_of_product {
  max-width: 1000px;
  width: 100%;
  margin: 0px auto;
  padding-top: 50px; }
  .type_of_product header {
    display: flex;
    background: rgba(168, 151, 151, 0.534);
    margin-bottom: 20px;
    align-items: center;
    padding-left: 20px; }
    .type_of_product header h1 {
      margin: 0;
      margin-left: 10px;
      font-size: 18px; }
    .type_of_product header .imgSearch {
      width: 40px;
      height: 40px;
      align-self: center; }
      .type_of_product header .imgSearch img {
        height: 100%; }
  .type_of_product .cards_3 {
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-around; }
    .type_of_product .cards_3 .card {
      max-width: 30%;
      width: 100%;
      border: 1px solid rgba(168, 151, 151, 0.534);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      position: relative; }
      .type_of_product .cards_3 .card .imageProduct {
        max-width: 260px;
        width: 100%;
        height: auto;
        position: relative; }
        .type_of_product .cards_3 .card .imageProduct img {
          display: block;
          max-width: 100%;
          min-width: 168px;
          height: auto; }
        .type_of_product .cards_3 .card .imageProduct .information {
          background: rgba(168, 151, 151, 0.534);
          display: flex;
          justify-content: space-around;
          border-radius: 20px;
          padding: 3%;
          position: absolute;
          bottom: 5px;
          max-width: 94%;
          width: 100%; }
          .type_of_product .cards_3 .card .imageProduct .information .taimer p:first-child {
            word-spacing: .3rem;
            font-weight: 900;
            text-align: center; }
          .type_of_product .cards_3 .card .imageProduct .information .taimer p:last-child {
            font-size: 11px;
            word-spacing: 1rem;
            text-align: center;
            margin-left: 7px; }
          .type_of_product .cards_3 .card .imageProduct .information p {
            line-height: 3px; }
          .type_of_product .cards_3 .card .imageProduct .information .leftover {
            text-align: center; }
            .type_of_product .cards_3 .card .imageProduct .information .leftover p:first-child {
              font-weight: 900; }
            .type_of_product .cards_3 .card .imageProduct .information .leftover p:last-child {
              font-size: 11px; }
      .type_of_product .cards_3 .card .textLeft {
        width: 100%;
        text-align: left; }
      .type_of_product .cards_3 .card .codProduct {
        border: 3px solid #4b90c1;
        border-radius: 15px;
        padding: 10px 0px;
        width: 100%;
        text-align: center; }
        .type_of_product .cards_3 .card .codProduct span {
          color: #4b90c1; }
      .type_of_product .cards_3 .card .availability {
        margin-bottom: 50px;
        display: flex;
        align-items: center; }
        .type_of_product .cards_3 .card .availability p {
          margin: 0; }
      .type_of_product .cards_3 .card .super {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background: #000; }
        .type_of_product .cards_3 .card .super .discount {
          max-width: 36%;
          width: 100%;
          height: auto;
          background-image: url(image/free-vector-blue-polygon-background-thumb.jpg);
          background-size: cover;
          margin-left: 10px;
          margin-bottom: -50px;
          position: relative;
          top: -40px;
          text-align: center;
          font-size: 25px;
          font-weight: 900;
          color: #fff;
          border: 2px solid #41c341;
          border-bottom: none; }
          .type_of_product .cards_3 .card .super .discount p {
            font-size: 1rem;
            line-height: 31px; }
          .type_of_product .cards_3 .card .super .discount span {
            font-size: 2rem; }
        .type_of_product .cards_3 .card .super .superPrice {
          margin: 0 auto; }
          .type_of_product .cards_3 .card .super .superPrice p {
            margin: 0px;
            font-size: 1.5rem;
            border-bottom: 3px solid #4b90c1;
            font-weight: 600;
            color: #41c341; }
      .type_of_product .cards_3 .card .discout_cards {
        width: 100%;
        text-align: center; }
        .type_of_product .cards_3 .card .discout_cards p {
          border-top: 2px solid #41c341;
          font-size: 26px;
          margin: 10px 0 0 0;
          color: #fff;
          font-weight: bold;
          font-size: 18px;
          line-height: 18px;
          text-transform: uppercase;
          padding: 5px 0; }
      .type_of_product .cards_3 .card .price .oldPrice {
        font-size: 15px;
        color: rgba(168, 151, 151, 0.534); }
        .type_of_product .cards_3 .card .price .oldPrice span {
          text-decoration: line-through; }
      .type_of_product .cards_3 .card .price .newPrice {
        color: #f99c10;
        font-weight: 600; }
        .type_of_product .cards_3 .card .price .newPrice span {
          font-size: 25px; }
      .type_of_product .cards_3 .card .button {
        width: 100%; }
        .type_of_product .cards_3 .card .button input {
          width: 100%;
          border: none;
          font-size: 20px;
          padding: 10px;
          color: #fff;
          background: #f99c10;
          outline: none;
          transition: .3s;
          font-weight: 900; }
          .type_of_product .cards_3 .card .button input:hover {
            background: #ca7d08; }
      .type_of_product .cards_3 .card .more {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 10px; }
        .type_of_product .cards_3 .card .more .more_1 {
          display: flex;
          width: 40%;
          justify-content: space-around;
          font-size: 12px;
          align-items: center; }
          .type_of_product .cards_3 .card .more .more_1 div {
            display: flex; }

@media only screen and (max-width: 768px) {
  .modalWindow .payment .product h1 {
    text-align: center; }
  .modalWindow .content {
    flex-direction: column;
    align-items: center; }
    .modalWindow .content .cards {
      width: 90%; }
      .modalWindow .content .cards .image {
        width: 37%;
        min-width: 170px; }
      .modalWindow .content .cards .description {
        font-size: 1rem;
        text-align: center; }

  .type_of_product .cards_3 {
    flex-wrap: wrap; }
    .type_of_product .cards_3 .card {
      max-width: 42%;
      margin-bottom: 20px; }
      .type_of_product .cards_3 .card .information {
        flex-direction: column-reverse; }
        .type_of_product .cards_3 .card .information .taimer {
          margin: -12px 0 0 0; }
      .type_of_product .cards_3 .card .super {
        flex-direction: row;
        border: 2px solid #41c341; }
        .type_of_product .cards_3 .card .super .discount {
          max-width: 100%;
          margin-left: 0;
          top: 0;
          margin-bottom: 0;
          border: none; }
      .type_of_product .cards_3 .card .textLeft {
        text-align: center; }
      .type_of_product .cards_3 .card .price .newPrice span {
        font-size: 20px; }
      .type_of_product .cards_3 .card .availability {
        margin-bottom: 15px;
        justify-content: center; } }
@media only screen and (max-width: 400px) {
  .modalWindow .content .cards {
    flex-direction: column;
    margin-left: 0; }
    .modalWindow .content .cards .image {
      margin-right: 0; }
    .modalWindow .content .cards:hover {
      box-shadow: none; }

  .type_of_product header {
    padding: 10px;
    flex-direction: column; }
    .type_of_product header h1 {
      margin-top: 10px;
      text-align: center;
      font-size: 18px; }
  .type_of_product .cards_3 .card {
    max-width: 88%; } }

/*# sourceMappingURL=style.css.map */
