*{
    font-family: sans-serif;
}

body {
    width: 1000px;
    margin: 0 auto ;
}
header {
    display: flex;    
    background: #afa6a65c;
    margin-bottom: 20px;
    align-items: center;
    padding-left: 20px;
}
header h1 {
    margin: 0;
    margin-left: 10px;
    font-size: 18px;
}
.imgSearch {
    width: 40px;
    height: 40px;
    align-self: center;
}
.imgSearch img {
    height: 100%;
}
.cards_3 {
    width: 1000px;
    display: flex;
    justify-content: space-around;
}
.card {
    width: 300px;
    border: 1px solid #afa6a6f7;;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.card .imageProduct {
    width: 260px;
    height: 195px;
}
.card .imageProduct img {
    height: 100%;
}

.card .information {    
    background: rgba(168, 151, 151, 0.534);
    display: flex;
    border-radius: 20px;
    padding: 10px 45px;
    position: absolute;
    top: 194px;
}
.card .information .taimer {
    margin-right: 9px;

}
.card .information .taimer p:first-child {
    word-spacing: 10px;
    font-weight: 900;
}
.card .information .taimer p:last-child {
    font-size: 11px;
    word-spacing: 22px;
    margin-left: -5px;
}
.card .information p {
    margin: 2px;
}
.card .information .leftover {
    text-align: center;
}
.card .information .leftover p:first-child {
    font-weight: 900;
}
.card .information .leftover p:last-child {
    font-size: 11px;
}
.card .textLeft {
    width: 100%;
    text-align: left;
}
.card .availability {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}
.card .availability p {
    margin: 0;
}
.card .codProduct {
    border: 3px solid #4b90c1;
    border-radius: 15px;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
}
.card .codProduct span {
    color: #4b90c1;
}
.card .super {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: black;
}
.card .discount {
    width: 100px;
    height: 100px;
    background-image: url(image/free-vector-blue-polygon-background-thumb.jpg);
    background-size: cover;
    margin-left: 10px; 
    margin-bottom: -50px;
    position: relative;
    top: -40px;   
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    color: white;
    border: 2px solid rgb(65, 195, 65);
    border-bottom: none;
}
.discount p {
    margin-top: 10px;
}
.discount span {
    font-size: 40px;
}
.card .superPrice {
    margin-left: 10px;
}
.card .superPrice p {
    margin: 0px;
    font-size: 31px;
    border-bottom: 3px solid #4b90c1;
    font-weight: 600;
    color: rgb(65, 195, 65);
}
.card .discout_cards {
    width: 100%;
    text-align: center;
}
.card .discout_cards p {
    border-top: 2px solid green;
    font-size: 26px;
    margin: 10px 0 0 0;
    color: white;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 5px 0;
}
.card .button {
    width: 100%;
}
.card .button input {
    width: 100%;
    border: none;
    font-size: 20px;
    padding: 10px;
    color: white;
    background: #f99c10;
    outline: none;
    transition: .3s;
    font-weight: 900;
}
.card .button input:hover {
    background: #ca7d08;
}
.card .more {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;  
}
.card .more .more_1 {
    display: flex;
    width: 40%;
    justify-content: space-around;
}
.card .more button {
    border: none;
    background: none;
    outline: none;
}
.card .oldPrice {
    font-size: 15px;
    color: #afa6a6f7;
}
.card .oldPrice span {
    text-decoration: line-through;
}
.card .newPrice {
    color: #f99c10;
    font-weight: 600;
}
.card .newPrice span {
    font-size: 25px;    
}


