@import "color";
@import 'media';

*{
    font-family: sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.modalWindow {    
    width: 100vw;
    height: 100vh;
    background: $modal_color_window;
    position: fixed;
    display: none;    
    z-index: 5;
    overflow: scroll;
    justify-content: center;
    top: 0;
    
    .payment {
        max-width: 1000px;
        width: 100%;   
        margin: 0 auto;
        position: relative;
        z-index: 10;

        header {
            max-width: 1000px;
            width: 100%;
            background: $modal_color;
            border-left: 1px solid $modal_color_header;

            .title {
                display: inline-block;
                margin-left: 20px;
                font-size: 24px;
                color: $modal_color_background_card;
                text-transform: lowercase;
            }
            .buttonClose {
                float: right;
                transform: rotate(45deg);
                border: none;
                background: none;
                font-size: 50px;
                color: $modal_color_background_card;
                outline:none;
                margin-right: 20px;
                transition: 0.3s;
            
                &:hover {
                    font-size: 60px;
                    color: $modal_color_header;
                    margin-right: 16px;
                    margin-top: -5px;
                }            
            }
        }
    }
        
    .product {
        border-left: 1px solid $modal_color_header;
        max-width: 1000px;
        width: 100%;
        padding-top: 20px;
        background: $modal_color_background;

        h1 {
            margin: 0;
            font-weight: 400;
            margin-left: 20px;
            margin-bottom: 20px;
        }
    }
    .content {
        display: flex;  
        flex-wrap: wrap;

        .cards {                    
            width: 47%;
            margin-left: 20px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            background: $modal_color_background;
            transition: 0.5s;

            .image {
                width: 48%;
                height: 120px;
                margin-right: 4%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $modal_color_background_card;
                img {
                    height: 100%;
                }
            }
            .imageNowoplat img {
                height: 67%;
            }            
            .description p:last-child {
                color: $modal_color;
                margin-top: -10px;
            }
            &:hover {
                background-color: $modal_color_background_card;
                box-shadow: -20px 0px $modal_color_background_card;
            }
        }  
    }
    
}

.type_of_product {
    max-width: 1000px;
    width: 100%;
    margin: 0px auto;
    padding-top: 50px; 
    
    header {
        display: flex;    
        background: $block_product_color_header;
        margin-bottom: 20px;
        align-items: center;
        padding-left: 20px;
        
        h1 {
            margin: 0;
            margin-left: 10px;
            font-size: 18px;
        }
        .imgSearch {
            width: 40px;
            height: 40px;
            align-self: center;

            img {
                height: 100%;
            }
        }        
    }
    .cards_3 {
        max-width: 1000px;
        width: 100%;
        display: flex;
        justify-content: space-around;

        .card {
            max-width: 30%;
            width: 100%;
            border: 1px solid $block_product_color_header;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: 10px;
            padding-right: 10px;
            position: relative;

            .imageProduct {
                max-width: 260px;
                width: 100%;
                height: auto;
                position: relative;

                img {
                    display: block;
                    max-width: 100%;
                    min-width: 168px;
                    height: auto;
                }
                .information {    
                    background: $block_product_color_header;
                        display: flex;
                        justify-content: space-around;
                        border-radius: 20px;
                        padding: 3%;
                        position: absolute;
                        bottom: 5px;
                        max-width: 94%;
                        width: 100%;
                    
                    .taimer {
                        p {
                            &:first-child {
                            word-spacing: .3rem;
                            font-weight: 900;
                            text-align: center;
                            }
                            &:last-child {
                            font-size: 11px;
                            word-spacing: 1rem;
                            text-align: center;
                            margin-left: 7px;
                            }
                        }
                    }
                    p {
                        line-height: 3px;
                    }
                    .leftover {
                        text-align: center;
                        p {
                            &:first-child {
                            font-weight: 900;
                            }
                            &:last-child {
                            font-size: 11px;
                            }
                        }
                        
                    }
                }
            }
            .textLeft {
                width: 100%;
                text-align: left;
            }            
            .codProduct {
                border: 3px solid $color_codProduct;
                border-radius: 15px;
                padding: 10px 0px;
                width: 100%;
                text-align: center;

                span {
                    color: $color_codProduct;
                }
            }
            .availability {
                margin-bottom: 50px;
                display: flex;
                align-items: center;
                    
                p {
                    margin: 0;
                }
            }
            .super {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                background: $modal_color_header;

                .discount {
                    max-width: 36%;
                    width: 100%;
                    height: auto;
                    background-image: url(image/free-vector-blue-polygon-background-thumb.jpg);
                    background-size: cover;
                    margin-left: 10px;
                    margin-bottom: -50px;
                    position: relative;
                    top: -40px;
                    text-align: center;
                    font-size: 25px;
                    font-weight: 900;
                    color: $modal_color_background_card;
                    border: 2px solid $color_super_price;
                    border-bottom: none;
                    
                    p {
                        font-size: 1rem;
                        line-height: 31px;
                    }
                    span {
                        font-size: 2rem;
                    }
                }
                .superPrice {
                    margin: 0 auto;
                    
                    p {
                        margin: 0px;
                        font-size: 1.5rem;
                        border-bottom: 3px solid $color_codProduct;
                        font-weight: 600;
                        color: $color_super_price;
                    }
                }
            }
            .discout_cards {
                width: 100%;
                text-align: center;
                
                p {
                    border-top: 2px solid $color_super_price;
                    font-size: 26px;
                    margin: 10px 0 0 0;
                    color: $modal_color_background_card;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 18px;
                    text-transform: uppercase;
                    padding: 5px 0;
                }
            }
            .price {
                
                .oldPrice {
                    font-size: 15px;
                    color: $block_product_color_header;
                    
                    span {
                        text-decoration: line-through;
                    }
                }
                .newPrice {
                    color: $color_button;
                    font-weight: 600;
                    
                    span {
                        font-size: 25px;    
                    }
                }
            }
            .button {
                width: 100%;
                
                input {
                    width: 100%;
                    border: none;
                    font-size: 20px;
                    padding: 10px;
                    color:  $modal_color_background_card;
                    background: $color_button;
                    outline: none;
                    transition: .3s;
                    font-weight: 900;

                    &:hover {
                        background: $color_button_hover;
                    }
                }
            }
            .more {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 15px;  
                margin-bottom: 10px;
                
                .more_1 {
                        display: flex;
                        width: 40%;
                        justify-content: space-around;
                        font-size: 12px;
                        align-items: center;
                        div {
                            display: flex;
                        }
                }
            }
        }
    }
}


@media only screen and (max-width: $tablet) {
    .modalWindow {
        .payment {
            .product {
                h1 {
                    text-align: center;
                }
            }
        }
        .content {
            flex-direction: column;
            align-items: center;

            .cards {
                width: 90% ;                
                .image {
                    width: 37%;
                    min-width: 170px;
                }
                .description {
                    font-size: 1rem;
                    text-align: center;
                }
            }
        }
    }
    .type_of_product {
        .cards_3 {
            flex-wrap: wrap;
            .card {
                max-width: 42%;
                margin-bottom: 20px;  
                .information {
                    flex-direction: column-reverse;
                    .taimer {
                        margin: -12px 0 0 0;
                    }
                }
                .super {
                    flex-direction: row;
                    border: 2px solid $color_super_price;
                    .discount {
                        max-width: 100%;
                        margin-left: 0;
                        top: 0;
                        margin-bottom: 0;
                        border: none;
                    }
                }
                .textLeft {
                    text-align: center;
                }
                .price {
                    .newPrice {
                        span {
                            font-size: 20px;
                        }
                    }
                }
                .availability {
                    margin-bottom: 15px;
                    justify-content: center;
                }
            }
        }
    }
}
@media only screen and (max-width: $phone) {
    .modalWindow {
        .content {            
            .cards {
                flex-direction: column;       
                margin-left: 0 ;         
                .image {
                    margin-right: 0 ;
                }
                &:hover {
                    box-shadow: none ;
                }
            }
        }
    }   
    .type_of_product {
        header {
            padding: 10px;
            flex-direction: column;
            h1 {
                margin-top: 10px;
                text-align: center;
                font-size: 18px;
            }
        }
        .cards_3 {
            .card {
                max-width: 88%;              
            }
        }
    }
    
    
}