<template>
  <div class="card">
    <div class="imageProduct">
      <div class="blockImage">
      <img v-bind:src="require(`../assets/image/${product.images}`)">
      </div>
      <div class="information">
        <div class="taimer">         
          <timer v-bind:end="product.endTime" />
        </div>
        <div class="leftover">
          <p>
            <span id="bmwX5"></span>{{product.stock}} Шт
          </p>
          <p>Осталось</p>
        </div>
      </div>
    </div>
    <div class="carBrand textLeft">
      <p>{{product.title}}</p>
    </div>
    <div class="product textLeft">
      <p>{{product.customer}}</p>
    </div>
    <div class="codProduct">
      <span>Код Товара: {{product.code}}</span>
    </div>
    <div class="manufacturer textLeft">
      <p>Производитель: {{product.manufacturer}}</p>
    </div>
    <div class="availability textLeft">
      <div>
        <img src="../assets/image/verification-of-delivery-list-clipboard-symbol.png" alt>
      </div>
      <p>В наличии (<span class="product_balance">
        {{dataStock()}}</span>)
      </p>
    </div>
    <div class="super">
      <div class="discount">
        <p>
          <span>-15%</span>
          <br>скидка
        </p>
      </div>
      <div class="superPrice">
        <p>супер цена</p>
      </div>
      <div class="discout_cards">
        <p>+ скидка по карте
          <br>постоянного покупатуля
        </p>
      </div>
    </div>
    <div class="price textLeft">
      <p class="oldPrice">Обычная цена:
        <span>{{product.commonPrice}}</span>
      </p>
      <p class="newPrice">Цена:
        <span>{{product.price}}</span>
      </p>
    </div>
    <div class="button">
      <input id="button" type="submit" value="Купить" 
      v-on:click="openModal()">
    </div>
    <div class="more">
      <div class="more_1">
        <div>
          <img src="../assets/image/heart-outline.png" alt>
        </div>
        <span>Отложить</span>
      </div>
      <div class="more_1">
        <div>
          <img src="../assets/image/next.png" alt>
        </div>
        
        <span>Подробнее</span>
      </div>
    </div>
  </div>
</template>

<script>
import Timer from './vuejs-countdown.vue'
import { mapActions } from 'vuex'

export default {
  name: "card",
  components: {
    Timer
  },
  props: ['product'],
  data() {
    return {
    }
  },
  methods: {
    ...mapActions(['increment', 'showModal']),
    
    openModal: function() {
      this.increment(9);
      this.showModal(false)
    },
    dataStock() {
        return this.product.stock > 0 ? this.product.stock + "-шт" : 'ожидается'
    }
  },
  
}
</script>

<style scoped lang='scss'>
@import '../assets/style/_color.scss';
@import '../assets/style/_media.scss';
.card {
    max-width: 30%;
    width: 100%;
    border: 1px solid $block_product_color_header;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    margin-bottom: 20px;

    .imageProduct {
        max-width: 260px;
        width: 100%;
        height: auto;
        position: relative;

        .blockImage {
            height: 12rem;
            img {
              display: block;
                max-width: 100%;
                min-width: 168px;
                height: auto;
            }
        }
        .information {    
            background: $block_product_color_header;
                display: flex;
                justify-content: space-around;
                border-radius: 20px;
                padding: 3%;
                position: absolute;
                bottom: 5px;
                max-width: 94%;
                width: 100%;
            
            .taimer {
                p {
                    &:first-child {
                    word-spacing: .3rem;
                    font-weight: 900;
                    text-align: center;
                    }
                    &:last-child {
                    font-size: 11px;
                    word-spacing: 1rem;
                    text-align: center;
                    margin-left: 7px;
                    }
                }
            }
            p {
                line-height: 3px;
            }
            .leftover {
                text-align: center;
                p {
                    &:first-child {
                    font-weight: 900;
                    }
                    &:last-child {
                    font-size: 11px;
                    }
                }
                
            }
        }
    }
    .carBrand, .manufacturer {
      height: 3.5rem;
    }
    .textLeft {
        width: 100%;
        text-align: left;
    }            
    .codProduct {
        border: 3px solid $color_codProduct;
        border-radius: 15px;
        padding: 10px 0px;
        width: 100%;
        text-align: center;

        span {
            color: $color_codProduct;
        }
    }
    .availability {
        margin-bottom: 50px;
        display: flex;
        align-items: center;
            
        p {
            margin: 0;
        }
    }
    .super {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background: $modal_color_header;

        .discount {
            max-width: 36%;
            width: 100%;
            height: auto;
            background-image: url(../assets/image/free-vector-blue-polygon-background-thumb.jpg);
            background-size: cover;
            margin-left: 10px;
            margin-bottom: -50px;
            position: relative;
            top: -40px;
            text-align: center;
            font-size: 25px;
            font-weight: 900;
            color: $modal_color_background_card;
            border: 2px solid $color_super_price;
            border-bottom: none;
            
            p {
                font-size: 1rem;
                line-height: 31px;
            }
            span {
                font-size: 2rem;
            }
        }
        .superPrice {
            margin: 0 auto;
            
            p {
                margin: 0px;
                font-size: 1.5rem;
                border-bottom: 3px solid $color_codProduct;
                font-weight: 600;
                color: $color_super_price;
            }
        }
    }
    .discout_cards {
        width: 100%;
        text-align: center;
        
        p {
            border-top: 2px solid $color_super_price;
            font-size: 26px;
            margin: 10px 0 0 0;
            color: $modal_color_background_card;
            font-weight: bold;
            font-size: 18px;
            line-height: 18px;
            text-transform: uppercase;
            padding: 5px 0;
        }
    }
    .price {
        
        .oldPrice {
            font-size: 15px;
            color: $block_product_color_header;
            
            span {
                text-decoration: line-through;
            }
        }
        .newPrice {
            color: $color_button;
            font-weight: 600;
            
            span {
                font-size: 25px;    
            }
        }
    }
    .button {
        width: 100%;
        
        input {
            width: 100%;
            border: none;
            font-size: 20px;
            padding: 10px;
            color:  $modal_color_background_card;
            background: $color_button;
            outline: none;
            transition: .3s;
            font-weight: 900;

            &:hover {
                background: $color_button_hover;
            }
        }
    }
    .more {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 15px;  
        margin-bottom: 10px;
        
        .more_1 {
                display: flex;
                width: 40%;
                justify-content: space-around;
                font-size: 12px;
                align-items: center;
                div {
                    display: flex;
                }
        }
    }
}

@media only screen and (max-width: $tablet) {    
  .card {
      max-width: 42%; 
      .information {
          flex-direction: column-reverse;
          .taimer {
              margin: -12px auto 0 auto;
          }
      }
      .super {
          flex-direction: row;
          border: 2px solid $color_super_price;
          .discount {
              max-width: 100%;
              margin-left: 0;
              top: 0;
              margin-bottom: 0;
              border: none;
          }
      }
      .textLeft {
          text-align: center;
      }
      .price {
          .newPrice {
              span {
                  font-size: 20px;
              }
          }
      }
      .availability {
          margin-bottom: 15px;
          justify-content: center;
      }
  }
}
@media only screen and (max-width: $phone) {    
  .card {
      max-width: 88%;              
  }
} 
</style>