<template>
    <div class="gallery">
        <div class="img">
            <img v-for="(prod, i ) in products.hits" 
             v-bind:key='i'
             v-on:click="index = i"             
             v-bind:src="require(`../assets/image/${prod.images}`)">
        </div>
        

    </div>
</template>

<script>

import { mapState } from 'vuex'

export default {
    data() {
        return {
            index: null,
        }
    },
    computed: mapState ({
      products: state => state.products
  })
    
}
</script>

<style lang="scss" scoped>
@import '../assets/style/_color.scss';

    .gallery {
        border-bottom: 3px solid $color_button;;
        .img {            
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            img {
                width : 100px;
                height: 78px;
                margin-right: 10px;
                
            }
        }
    }
</style>
