<template>
  <div class="modalWindow" v-show="!this.$store.state.showModal" >
    <div class="payment">
      <header>
        <h1 class="title">Оплата услуг</h1>
        <input class="buttonClose" type="submit" value="+"
          v-on:click="closeModel()"
         >
        <div class="modalFon" 
          v-on:click="closeModel()"
        ></div>
      </header>
      <div class="product">
        <h1>Мгновенная оплата</h1>
        <div class="content">
          <div class="cards">
            <div class="image">
              <img src="../assets/image/Jandeks-Dengi-mini.jpg" alt>
            </div>
            <div class="description">
              <p>Яндекс деньги</p>
              <p>0% комиссия</p>
            </div>
          </div>
          <div class="cards">
            <div class="image">
              <img src="../assets/image/i.jpeg" alt>
            </div>
            <div class="description">
              <p>Элекснет</p>
              <p>0% комиссия</p>
            </div>
          </div>
          <div class="cards">
            <div class="image">
              <img src="../assets/image/webmoney.jpg" alt>
            </div>
            <div class="description">
              <p>Weвmoney</p>
              <p>0.8% комиссия</p>
            </div>
          </div>
          <div class="cards">
            <div class="image">
              <img src="../assets/image/b46257295d5f1a5c_org.jpg" alt>
            </div>
            <div class="description">
              <p>Qiwi</p>
              <p>до 10% комиссия</p>
            </div>
          </div>
          <div class="cards">
            <div class="image">
              <img src="../assets/image/vmc.gif" alt>
            </div>
            <div class="description">
              <p>Карты Visa, Mastercard
                <br>(процессинг Uniteeller)
              </p>
              <p>0% комиссия</p>
            </div>
          </div>
          <div class="cards">
            <div class="image imageNowoplat">
              <img src="../assets/image/photoeditorsdk.png" alt>
            </div>
            <div class="description">
              <p>Новоплат</p>
              <p>до 4% комиссия</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: "modalWindow",
  data () {
    return {
    }
  },
  methods: {
    ...mapActions(['showModal']),

    closeModel: function() {
      this.showModal(true);
    }
  }
};
</script>

<style scoped lang="scss">
@import '../assets/style/_color.scss';
@import '../assets/style/_media.scss';

.modalWindow {    
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    z-index: 1;   
    justify-content: center;
    top: 25%;
    left: 0;
    
    .payment {
        max-width: 1000px;
        width: 100%;   
        margin: 0 auto;
        position: relative;
        z-index: 10;

        header {
            max-width: 1000px;
            width: 100%;
            background: $modal_color;
            border-left: 1px solid $modal_color_header;

            .title {
                display: inline-block;
                margin-left: 20px;
                font-size: 24px;
                color: $modal_color_background_card;
                text-transform: lowercase;
            }
            .buttonClose {
                float: right;
                transform: rotate(45deg);
                border: none;
                background: none;
                font-size: 50px;
                color: $modal_color_background_card;
                outline:none;
                margin-right: 20px;
                transition: 0.3s;
            
                &:hover {
                    font-size: 60px;
                    color: $modal_color_header;
                    margin-right: 16px;
                    margin-top: -5px;
                }            
            }
            .modalFon {
            width: 100%;
            height: 100%;
            background: $modal_color_window;
            position: fixed;
            display: flex;
            z-index: -7;
            justify-content: center;
            top: 0;
            left: 0;
            }
        }
    }
        
    .product {
        border-left: 1px solid $modal_color_header;
        max-width: 1000px;
        width: 100%;
        padding-top: 20px;
        background: $modal_color_background;

        h1 {
            margin: 0;
            font-weight: 400;
            margin-left: 20px;
            margin-bottom: 20px;
        }
    }
    .content {
        display: flex;  
        flex-wrap: wrap;

        .cards {                    
            width: 47%;
            margin-left: 20px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            background: $modal_color_background;
            transition: 0.5s;

            .image {
                width: 48%;
                height: 120px;
                margin-right: 4%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $modal_color_background_card;
                img {
                    height: 100%;
                }
            }
            .imageNowoplat img {
                height: 67%;
            }            
            .description p:last-child {
                color: $modal_color;
                margin-top: -10px;
            }
            &:hover {
                background-color: $modal_color_background_card;
                box-shadow: -20px 0px $modal_color_background_card;
            }
        }  
    }
    
}
@media only screen and (max-width: $tablet) {
    .modalWindow {
       overflow: scroll;
       top: 0;
        .payment {
            .product {
                h1 {
                    text-align: center;
                }
            }
        }
        .content {
            flex-direction: column;
            align-items: center;

            .cards {
                width: 90% ;                
                .image {
                    width: 37%;
                    min-width: 170px;
                }
                .description {
                    font-size: 1rem;
                    text-align: center;
                }
            }
        }
    }
}
@media only screen and (max-width: $phone) {
    .modalWindow {
        .content {            
            .cards {
                flex-direction: column;       
                margin-left: 0 ;         
                .image {
                    margin-right: 0 ;
                }
                &:hover {
                    box-shadow: none ;
                }
            }
        }
    }
}
</style>


