<template>
  <div class="paginated">
    <div class="button">
      <button
        v-on:click=" changePageNumber(-quantityProducts)"
        v-bind:disabled="disabledPrevious()"
      >Back</button>
      {{pageNumber / quantityProducts + 1}}
      <button
        v-on:click="changePageNumber(+quantityProducts)"
        v-bind:disabled="disabledNext()"
      >Next</button>
    </div>
  </div>
</template>
  
<script>
import { mapState, mapActions } from "vuex";
import { bus } from '../main.js'
export default {
  data() {
    return {
    };
  },
  props: ['quantityProducts'],
  methods: {
    ...mapActions(['pageNumbers']),

    changePageNumber(a) {
      this.pageNumbers(a);
      
      bus.$emit('sortListProduct', {from: this.pageNumber, size: this.quantityProducts, sort: this.maxMin});
    },
    disabledNext() {
      return this.pageNumber >= this.products.total - this.quantityProducts ? true : false;
    },
    disabledPrevious() {
      return this.pageNumber <= 0 ? true : false;
    }
  },
  computed: {
    ...mapState(["pageNumber", "products", "maxMin"])
  },
   
};
</script>

<style lang="scss" scoped>
@import "../assets/style/_color.scss";
.paginated {
  .button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    button {
      width: 160px;
      border: none;
      font-size: 20px;
      padding: 10px;
      color: $modal_color_background_card;
      background: $color_button;
      outline: none;
      transition: 0.3s;
      font-weight: 900;
      margin: 0 10px;
      &:hover {
        background: $color_button_hover;
      }
      &:disabled {
        background: $block_product_color_header;
      }
    }
  }
}

</style>
