<template>
    <div class="productListing"> 
        <card 
            v-for="product of products" 
            v-bind:key="product.id"
            v-bind:product="product" 
        />
    </div> 
</template>

<script>
import Card from './Card.vue'

export default {
    components: {
        Card
    },
    props: ['products']
}
</script>
<style lang="scss" scoped>
    .productListing {
        max-width: 1000px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 auto;
    }
</style>
