<template>
    <div class="sort">
        <select v-model='dataType' v-on:click="sort()">
            <option value='price:desc'>по цене max</option>
            <option value='price:asc'>по цене min</option>
            <option value='stock:desc'>по остатку max</option>
            <option value='stock:asc'>по остатку min</option>
        </select>             
        <button v-on:click="reset()">Сброс</button>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
import { bus } from '../main.js'
export default {
    data () {
        return {
            dataType: 'price:desc',
        }
    },
    props: ['quantityProducts'],
    methods: {
        ...mapActions(['sortMaxMin', , 'pageNumbers']),

        sort(sort) {
            bus.$emit('sortListProduct', {from: 0, size: this.quantityProducts, sort: this.dataType});
            this.sortMaxMin(this.dataType);
            this.pageNumbers(0);
        },
        reset(){
            this.dataType = 'price:desc';
            bus.$emit('sortListProduct', {from: 0, size: this.quantityProducts, sort: this.dataType})
            this.pageNumbers(0);
        }
    },
}
</script>

<style lang="scss" scoped>
@import '../assets/style/_color.scss';
@import '../assets/style/_media.scss';
.sort {
    button , select {
        border: none;
        font-size: 20px;
        padding: 10px;
        color:  $modal_color_background_card;
        background: $color_button;
        transition: .3s;
        font-weight: 900;
        margin: 10px;
        outline:none;
        &:hover {
            background: $color_button_hover;
        }
    }   
    
}
@media only screen and (max-width: $tablet) {
    .sort {
        flex-wrap: wrap;
        
    }
}

@media only screen and (max-width: $phone) {      
    .sort {
        button , select{
            width: 100%;
            margin: 0 0 10px 0;
            
        }
    }  
}
</style>
