<template>
  <div class="type_of_product">
    <header>
      <div class="imgSearch">
          <Spinner name="cube-grid" color="#f99c10"/>        
      </div>
      <h1>ВЫБОР ПО ТИПУ ОБОРУДОВАНИЯ</h1>
    </header>
  </div>
</template>

<script>

import Spinner from "vue-spinkit"

export default {
  name: "typeProduct",
  components: {
    Spinner,    
  },
  data (){
     return {
         
     }
  },
};
</script>

<style scoped lang="scss">
@import '../assets/style/_color.scss';
@import '../assets/style/_media.scss';
.type_of_product {
    max-width: 1000px;
    width: 100%;
    margin: 0px auto;
    padding-top: 50px; 
    
    header {
        display: flex;    
        background: $block_product_color_header;
        margin-bottom: 20px;
        align-items: center;
        padding-left: 20px;
        
        h1 {
            margin: 0;
            margin-left: 10px;
            font-size: 18px;
        }
        .imgSearch {
            width: 40px;
            height: 40px;
            align-self: center;

            img {
                height: 100%;
            }
        }        
    }
    .search {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        border: 1px solid $block_product_color_header;
        input {
            margin: 10px;
            border: 1px solid #f99c10;
            max-width: 300px;
            width:100%;
        }
    }
    
    
}

@media only screen and (max-width: $phone) {      
  .type_of_product {
      header {
          padding: 10px;
          flex-direction: column;
          h1 {
              margin-top: 10px;
              text-align: center;
              font-size: 18px;
          }
      }
      .sort {
          display: flex;
          flex-direction: column;
          align-items: center;
      }
  }  
}

</style>