<template>    
<div>
    <div v-if="diff > 0">
        <ul class="vuejs-countdown" >
            <li v-if="days > 0">
                <p class="digit">{{ days | twoDigits }}</p>
                <p class="text">{{ days > 1 ? 'days' : 'day' }}</p>
            </li>
            <li v-else-if="days == 0">
                <p class="digit">{{ hours | twoDigits }}</p>
                <p class="text">{{ hours > 1 ? 'hours' : 'hour' }}</p>
            </li>
            <li>
                <p class="digit">{{ minutes | twoDigits }}</p>
                <p class="text">min</p>
            </li>
            <li>
                <p class="digit">{{ seconds | twoDigits }}</p>
                <p class="text">Sec</p>
            </li>
        </ul>
        
    </div>
    <div v-else>
        <ul> 
            <p>Aкция закончена</p>
        </ul>
    </div>
</div>
</template>

<script>
export default {
    name: 'vuejsCountDown',
    props: ['end'],

    data() {
        return {
            now: Math.trunc((new Date()).getTime() / 1000),
            date: null,
            diff: 0,
            interval: null
        }
    },
    beforeMount() {
        if (!this.end) {
            throw new Error("Missing props 'deadline' or 'end'");
        }
        let endTime =  this.end;
        this.date = Math.trunc(Date.parse(endTime.replace(/-/g, "/")) / 1000);
        if (!this.date) {
            throw new Error("Invalid props value, correct the 'deadline' or 'end'");
        }
        this.diff = this.date - this.now;
        this.interval = setInterval(() => {
            this.now = Math.trunc((new Date()).getTime() / 1000);
        }, 1000);
    },
    computed: {
        seconds() {
            return Math.trunc(this.diff) % 60
        },
        minutes() {
            return Math.trunc(this.diff / 60) % 60
        },
        hours() {
            return Math.trunc(this.diff / 60 / 60) % 24
        },
        days() {
            return Math.trunc(this.diff / 60 / 60 / 24)
        }
    },
    watch: {
        now() {
            this.diff = this.date - this.now;
            if(this.diff <= 0 ){
                this.diff = 0;
                // Remove interval
                clearInterval(this.interval);
            }
        }
    },
    filters: {
        twoDigits(value) {
            if ( value.toString().length <= 1 ) {
                return '0'+value.toString()
            }
            return value.toString()
        }
    },
    destroyed() {
        clearInterval(this.interval);
    },
    
}
</script>

<style scoped lang="scss">
.vuejs-countdown {
  padding: 0;
  margin: 0;
    li {
        display: inline-block;
        margin: 0 8px;
        text-align: center;
        position: relative;
        p {
            margin: 0;
        }
        &:after {
            content: ":";
            position: absolute;
            top: 3px;
            right: -13px;
            font-size: 25px;
        }
        &:first-of-type {
            margin-left: 0;
        }
        &:last-of-type {
            margin-right: 0;
        }
        &:last-of-type:after {
            content: "";
        }
    }
    .digit {
        font-size: 26px;
        font-weight: 600;
        line-height: 1.4;
        margin-bottom: 0;
    }
    .text {
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 7px;
    }
}
</style>

