*{
    font-family: sans-serif;
}

.payment header {
    width: 1000px;
    background: rgb(247, 64, 18);
    border-left: 1px solid black;
}
.payment header .title {
    display: inline-block;
    margin-left: 20px;
    font-size: 24px;
    color: white;
    text-transform: lowercase;
}
.payment header .buttonClose {
    float: right;
    transform: rotate(45deg);
    border: none;
    background: none;
    font-size: 50px;
    color: white;
    outline:none;
}

.payment .product {
    border-left: 1px solid black;
    width: 1000px;
    padding-top: 20px;
    background: rgb(240, 226, 226);
}
.payment .product h1 {
    margin: 0;
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 20px;
}
.payment .product .content {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}
.payment .product .content .cards {
    width: 480px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background: rgb(240, 226, 226);
    transition: 0.5s
}

.payment .product .content .cards .image {
    width: 170px;
    height: 120px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;  
    background: white; 
}
.payment .product .content .cards .image img {
    height: 100%;
}
.payment .product .content .cards .imageNowoplat img {
    height: 67%;
}
.payment .product .content .cards .description p:last-child {
    color: rgb(247, 64, 18);
    margin-top: -10px;
}
.payment .product .content .cards:hover {
    background-color: white;
    box-shadow: -20px 0px white;
}