* {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.modalWindow {
  width: 100vw;
  height: 100vh;
  background: #000000cc;
  position: fixed;
  display: none;
  z-index: 5;
}
.modalWindow .payment {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  top: 20%;
  z-index: 10;
}
.modalWindow .payment header {
  width: 1000px;
  background: #f74012;
  border-left: 1px solid #000;
}
.modalWindow .payment header .title {
  display: inline-block;
  margin-left: 20px;
  font-size: 24px;
  color: #fff;
  text-transform: lowercase;
}
.modalWindow .payment header .buttonClose {
  float: right;
  transform: rotate(45deg);
  border: none;
  background: none;
  font-size: 50px;
  color: #fff;
  outline: none;
  margin-right: 20px;
  transition: 0.3s;
}
.modalWindow .payment header .buttonClose:hover {
  font-size: 60px;
  color: black;
  margin-right: 16px;
  margin-top: -5px;
}
.modalWindow .payment .product {
  border-left: 1px solid #000;
  width: 1000px;
  padding-top: 20px;
  background: #f0e2e2;
}
.modalWindow .payment .product h1 {
  margin: 0;
  font-weight: 400;
  margin-left: 20px;
  margin-bottom: 20px;
}
.modalWindow .payment .product .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.modalWindow .payment .product .content .cards {
  width: 480px;
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background: #f0e2e2;
  transition: 0.5s;
}
.modalWindow .payment .product .content .cards .image {
  width: 170px;
  height: 120px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.modalWindow .payment .product .content .cards .image img {
  height: 100%;
}
.modalWindow .payment .product .content .cards .imageNowoplat img {
  height: 67%;
}
.modalWindow .payment .product .content .cards .description p:last-child {
  color: #f74012;
  margin-top: -10px;
}
.modalWindow .payment .product .content .cards:hover {
  background-color: #fff;
  box-shadow: -20px 0px #fff;
}

.type_of_product {
  width: 1000px;
  margin: 0px auto;
  padding-top: 50px;
}
.type_of_product header {
  display: flex;
  background: #afa6a65c;
  margin-bottom: 20px;
  align-items: center;
  padding-left: 20px;
}
.type_of_product header h1 {
  margin: 0;
  margin-left: 10px;
  font-size: 18px;
}
.type_of_product header .imgSearch {
  width: 40px;
  height: 40px;
  align-self: center;
}
.type_of_product header .imgSearch img {
  height: 100%;
}
.type_of_product .cards_3 {
  width: 1000px;
  display: flex;
  justify-content: space-around;
}
.type_of_product .cards_3 .card {
  width: 300px;
  border: 1px solid #afa6a6f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
.type_of_product .cards_3 .card .imageProduct {
  width: 260px;
  height: 195px;
}
.type_of_product .cards_3 .card .imageProduct img {
  height: 100%;
}
.type_of_product .cards_3 .card .information {
  background: rgba(168, 151, 151, 0.534);
  display: flex;
  border-radius: 20px;
  padding: 10px 45px;
  position: absolute;
  top: 121px;
  width: 195px;
}
.type_of_product .cards_3 .card .information .taimer {
  margin-right: 16px;
}
.type_of_product .cards_3 .card .information .taimer p:first-child {
  word-spacing: 7px;
  font-weight: 900;
  text-align: center;
}
.type_of_product .cards_3 .card .information .taimer p:last-child {
  font-size: 11px;
  word-spacing: 14px;
  text-align: center;
}
.type_of_product .cards_3 .card .information p {
  line-height: 3px;
}
.type_of_product .cards_3 .card .information .leftover {
  text-align: center;
}
.type_of_product .cards_3 .card .information .leftover p:first-child {
  font-weight: 900;
}
.type_of_product .cards_3 .card .information .leftover p:last-child {
  font-size: 11px;
}
.type_of_product .cards_3 .card .textLeft {
  width: 100%;
  text-align: left;
}
.type_of_product .cards_3 .card .codProduct {
  border: 3px solid #4b90c1;
  border-radius: 15px;
  padding: 10px 0px;
  width: 100%;
  text-align: center;
}
.type_of_product .cards_3 .card .codProduct span {
  color: #4b90c1;
}
.type_of_product .cards_3 .card .availability {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}
.type_of_product .cards_3 .card .availability p {
  margin: 0;
}
.type_of_product .cards_3 .card .super {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: black;
}
.type_of_product .cards_3 .card .super .discount {
  width: 100px;
  height: 100px;
  background-image: url(image/free-vector-blue-polygon-background-thumb.jpg);
  background-size: cover;
  margin-left: 10px;
  margin-bottom: -50px;
  position: relative;
  top: -40px;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  color: white;
  border: 2px solid #41c341;
  border-bottom: none;
}
.type_of_product .cards_3 .card .super .discount p {
  margin-top: 10px;
}
.type_of_product .cards_3 .card .super .discount span {
  font-size: 40px;
}
.type_of_product .cards_3 .card .super .superPrice {
  margin-left: 10px;
}
.type_of_product .cards_3 .card .super .superPrice p {
  margin: 0px;
  font-size: 31px;
  border-bottom: 3px solid #4b90c1;
  font-weight: 600;
  color: #41c341;
}
.type_of_product .cards_3 .card .discout_cards {
  width: 100%;
  text-align: center;
}
.type_of_product .cards_3 .card .discout_cards p {
  border-top: 2px solid green;
  font-size: 26px;
  margin: 10px 0 0 0;
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 5px 0;
}
.type_of_product .cards_3 .card .price .oldPrice {
  font-size: 15px;
  color: #afa6a6f7;
}
.type_of_product .cards_3 .card .price .oldPrice span {
  text-decoration: line-through;
}
.type_of_product .cards_3 .card .price .newPrice {
  color: #f99c10;
  font-weight: 600;
}
.type_of_product .cards_3 .card .price .newPrice span {
  font-size: 25px;
}
.type_of_product .cards_3 .card .button {
  width: 100%;
}
.type_of_product .cards_3 .card .button input {
  width: 100%;
  border: none;
  font-size: 20px;
  padding: 10px;
  color: white;
  background: #f99c10;
  outline: none;
  transition: 0.3s;
  font-weight: 900;
}
.type_of_product .cards_3 .card .button input:hover {
  background: #ca7d08;
}
.type_of_product .cards_3 .card .more {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.type_of_product .cards_3 .card .more .more_1 {
  display: flex;
  width: 40%;
  justify-content: space-around;
}

/*# sourceMappingURL=style.css.map */
