$modal_color_header: #000;
$modal_color: rgb(247, 64, 18);
$modal_color_background: rgb(240, 226, 226);
$modal_color_background_card: #fff;
*{
    font-family: sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.modalWindow{
    width: 100vw;
    height: 100vh;
    background: #000000cc;
    position: fixed;
    display: none;    
    z-index: 5;

    .payment {
        width: 1000px;
        margin: 0 auto;
        position: relative;
        top: 20%;
        z-index: 10;

        header {
            width: 1000px;
            background: $modal_color;
            border-left: 1px solid $modal_color_header;

            .title {
                display: inline-block;
                margin-left: 20px;
                font-size: 24px;
                color: $modal_color_background_card;
                text-transform: lowercase;
            }
            .buttonClose {
                float: right;
                transform: rotate(45deg);
                border: none;
                background: none;
                font-size: 50px;
                color: $modal_color_background_card;
                outline:none;
                margin-right: 20px;
                transition: 0.3s;
            }
            .buttonClose:hover {
                font-size: 60px;
                color: black;
                margin-right: 16px;
                margin-top: -5px;
            }            
        }
        
        .product {
            border-left: 1px solid $modal_color_header;
            width: 1000px;
            padding-top: 20px;
            background: $modal_color_background;

            h1 {
                margin: 0;
                font-weight: 400;
                margin-left: 20px;
                margin-bottom: 20px;
            }
            .content {
                display: flex;
                flex-direction: row;    
                flex-wrap: wrap;

                .cards {
                    width: 480px;
                    margin-left: 20px;
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;
                    background: $modal_color_background;
                    transition: 0.5s;

                    .image {
                        width: 170px;
                        height: 120px;
                        margin-right: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;  
                        background: $modal_color_background_card;

                        img {
                            height: 100%;
                        }
                    }
                    .imageNowoplat img {
                        height: 67%;
                    }            
                    .description p:last-child {
                        color: $modal_color;
                        margin-top: -10px;
                    }
                }  
                .cards:hover {
                    background-color: $modal_color_background_card;
                    box-shadow: -20px 0px $modal_color_background_card;
                }
            }
        }
    }
}

.type_of_product {
    width: 1000px;
    margin: 0px auto;
    padding-top: 50px; 
    
    header {
        display: flex;    
        background: #afa6a65c;
        margin-bottom: 20px;
        align-items: center;
        padding-left: 20px;
        
        h1 {
            margin: 0;
            margin-left: 10px;
            font-size: 18px;
        }
        .imgSearch {
            width: 40px;
            height: 40px;
            align-self: center;

            img {
                height: 100%;
            }
        }        
    }
    .cards_3 {
        width: 1000px;
        display: flex;
        justify-content: space-around;

        .card {
            width: 300px;
            border: 1px solid #afa6a6f7;;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: 10px;
            padding-right: 10px;
            position: relative;

            .imageProduct {
                width: 260px;
                height: 195px;

                img {
                    height: 100%;
                }
            }
            .information {    
                background: rgba(168, 151, 151, 0.534);
                display: flex;
                border-radius: 20px;
                padding: 10px 45px;
                position: absolute;
                top: 121px;
                width: 195px;
                
                .taimer {
                    margin-right: 16px;
                    
                    p:first-child {
                        word-spacing: 7px;
                        font-weight: 900;
                        text-align: center;
                    }
                    p:last-child {
                        font-size: 11px;
                        word-spacing: 14px;
                        text-align: center;
                    }
                }
                p {
                    line-height: 3px;
                }
                .leftover {
                    text-align: center;

                    p:first-child {
                        font-weight: 900;
                    }
                    p:last-child {
                        font-size: 11px;
                    }
                }
            }
            .textLeft {
                width: 100%;
                text-align: left;
            }            
            .codProduct {
                border: 3px solid #4b90c1;
                border-radius: 15px;
                padding: 10px 0px;
                width: 100%;
                text-align: center;

                span {
                    color: #4b90c1;
                }
            }
            .availability {
                margin-bottom: 50px;
                display: flex;
                align-items: center;
                    
                p {
                    margin: 0;
                }
            }
            .super {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                background: black;

                .discount {
                    width: 100px;
                    height: 100px;
                    background-image: url(image/free-vector-blue-polygon-background-thumb.jpg);
                    background-size: cover;
                    margin-left: 10px; 
                    margin-bottom: -50px;
                    position: relative;
                    top: -40px;   
                    text-align: center;
                    font-size: 25px;
                    font-weight: 900;
                    color: white;
                    border: 2px solid rgb(65, 195, 65);
                    border-bottom: none;
                    
                    p {
                        margin-top: 10px;
                    }
                    span {
                        font-size: 40px;
                    }
                }
                .superPrice {
                    margin-left: 10px;
                    
                    p {
                        margin: 0px;
                        font-size: 31px;
                        border-bottom: 3px solid #4b90c1;
                        font-weight: 600;
                        color: rgb(65, 195, 65);
                    }
                }
            }
            .discout_cards {
                width: 100%;
                text-align: center;
                
                p {
                    border-top: 2px solid green;
                    font-size: 26px;
                    margin: 10px 0 0 0;
                    color: white;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 18px;
                    text-transform: uppercase;
                    padding: 5px 0;
                }
            }
            .price {
                
                .oldPrice {
                    font-size: 15px;
                    color: #afa6a6f7;
                    
                    span {
                        text-decoration: line-through;
                    }
                }
                .newPrice {
                    color: #f99c10;
                    font-weight: 600;
                    
                    span {
                        font-size: 25px;    
                    }
                }
            }
            .button {
                width: 100%;
                
                input {
                    width: 100%;
                    border: none;
                    font-size: 20px;
                    padding: 10px;
                    color: white;
                    background: #f99c10;
                    outline: none;
                    transition: .3s;
                    font-weight: 900;
                }
                input:hover {
                    background: #ca7d08;
                }
            }
            .more {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 15px;  
                
                .more_1 {
                    display: flex;
                    width: 40%;
                    justify-content: space-around;
                }
            }
        }
    }
}


