$modal_color_window: #000000cc;
$modal_color_header: #000;
$modal_color: rgb(247, 64, 18);
$modal_color_background: rgb(240, 226, 226);
$modal_color_background_card: #fff;
$block_product_color_header: rgba(168, 151, 151, 0.534);
$color_codProduct: #4b90c1;
$color_button: #f99c10;
$color_button_hover: #ca7d08;
$color_super_price: rgb(65, 195, 65);